<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <script src="/static/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="/static/fontGoogle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/jquery-3.6.0.min.js"></script>
  <title>Tienda Bsale</title>


</head>

<body>
  <!--MENU PRINCIPAL-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1>Bsale Test</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Tienda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/categoriaAlcohol#">Alcohol</a></li>
              <li><a class="dropdown-item" href="/categoriaAlimentos">Alimentos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>


        <button class="btn btn-outline-dark" type="submit"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </button>

        <p class="buscador">
          <input id="buscador" type="input" placeholder="Search" value="">
        </p>

      </div>
    </div>
  </nav>

  

  <div class="row">
    <% for (let producto of productos) { %>
      <div class="card col-4 m-4" style="width: 18rem;">
        <img src="<%= producto.url_image %>" class="card-img-top" alt="imagen referencial">
        <div class="card-body">
          <h5 class="card-title products">
            <%= producto.name %>
          </h5>
          <hr />
          <h5>
            $<%= producto.price %><span><a href="/agregarCarrito" class="btn agregarCarrito"><i class="fa fa-cart-plus"
                    aria-hidden="true"></i>
                </a> </span>
          </h5>
        </div>
      </div>
      <% } %>


  </div>

  <script>
    $(document).ready(function () {

      $('#buscador').keyup(function () {
        var products = $('.products');
        var buscando = $(this).val();
        var card = '';
        for (var i = 0; i < products.length; i++) {
          card = $(products[i]).html().toLowerCase();
          for (var x = 0; x < card.length; x++) {
            if (buscando.length == 0 || card.indexOf(buscando) > -1) {
              $(products[i]).parents('.card').show();
            } else {
              $(products[i]).parents('.card').hide();
            }
          }
        }
      });



    });
  </script>
</body>

</html>