<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <script src="/static/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="/static/fontGoogle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="/static/jquery-3.6.0.min.js"></script>
  <title>Tienda Bsale</title>
  <style>
    body {
      background: #0575E6;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #021B79, #0575E6);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #021B79, #0575E6);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    nav {
      background: #fe8c00;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f83600, #fe8c00);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    h1 {
      font-family: 'Pacifico', cursive;
      margin: 5px;
    }

    .card-img-top {
      height: 20rem;
    }

    .card h5 {
      text-align: center;
      display: inline-block;
    }

    .buscador {
      margin: 5px;
    }

    div#filtrar {
      max-width: 500px;
      margin: 15px;
    }
  </style>
</head>

<body>
  <!--MENU PRINCIPAL-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1>Bsale Test</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tienda</a>
          </li>

        </ul>

        <button class="btn btn-outline-dark" type="submit"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        </button>

        <p class="buscador">
          <input id="buscador" type="input" placeholder="Search" value="">
        </p>

      </div>
    </div>
  </nav>


  <div id="filtrar">
    <select id="categoria" name="categoria" class="form-select" aria-label="Default select example">
      <option name="categoria" selected>Filtrar por categoria</option>
      <option value="1" id="c1">Alcohol</option>
      <option value="2" id="c2">Alimentos</option>
    </select>
  </div>

  <div class="row">
    <% for (let producto of productos) { %>
      <div class="card col-4 m-4" style="width: 18rem;">
        <img src="<%= producto.url_image %>" class="card-img-top" alt="imagen referencial">
        <div class="card-body">
          <h5 class="card-title nombres">
            <%= producto.name %>
          </h5>
          <hr />
          <h5>
            $<%= producto.price %><span><a href="#" class="btn"><i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a> </span>
          </h5>
        </div>
      </div>
      <% } %>


  </div>

  <script>
    $(document).ready(function () {
      $('#buscador').keyup(function () {
        var nombres = $('.nombres');
        var buscando = $(this).val();
        var card = '';
        for (var i = 0; i < nombres.length; i++) {
          card = $(nombres[i]).html().toLowerCase();
          for (var x = 0; x < card.length; x++) {
            if (buscando.length == 0 || card.indexOf(buscando) > -1) {
              $(nombres[i]).parents('.card').show();
            } else {
              $(nombres[i]).parents('.card').hide();
            }
          }
        }
      });


      $('#c1').on('click', function () {
        //esconder los de la categoria alimentos

      });



    });
  </script>
</body>

</html>